@import "tailwindcss";
@import "@fontsource-variable/dm-sans";
@import "@fontsource/bricolage-grotesque/700.css";

:root {
    --background: var(--color-neutral-900);
    --foreground: var(--color-white);
    --primary: var(--color-blue-500);
    --primary-foreground: var(--color-white);
    --primary-hover: var(--color-blue-700);
    --surface: var(--color-neutral-800);
    --surface-foreground: var(--color-neutral-200);
    --surface-hover: var(--color-neutral-700);
    --muted-foreground: var(--color-neutral-300);
}

@theme {
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);

    --color-orange-500: hsl(28, 100%, 52%);

    --color-blue-700: hsl(248, 70%, 36%);
    --color-blue-500: hsl(233, 67%, 56%);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
    --color-surface: var(--surface);
    --color-surface-foreground: var(--surface-foreground);
    --color-surface-hover: var(--surface-hover);
    --color-muted-foreground: var(--muted-foreground);

    --font-sans: "DM Sans Variable", sans-serif;
    --font-bricolage: "Bricolage Grotesque";
    --font-bricolage--font-weight: 700;

    --text-xs: 0.875rem;
    --text-sm: 1rem;
    --text-base: 1.125rem;
    --text-3xl: 1.75rem;
    --text-4xl: 2rem;

    --radius-3xl: 20px;
}

@layer base {
    * {
        @apply border-neutral-600;
    }

    body {
        @apply bg-background text-foreground font-sans m-0 text-base;
    }

    .wrapper {
        @apply w-full mx-auto px-4 md:px-8 max-w-320;
    }

    @supports not selector(::-webkit-scrollbar) {
        .styled-scroll {
            scrollbar-width: thin;
        }
    }

    .styled-scroll {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-neutral-700);
            border: 1px var(--color-neutral-600) solid;
            border-radius: 12px;
            width: 5px;
        }
    }
}
